body {
  min-height: 100vh;
  padding-bottom: @footer-height;
}

footer {
  .flex;

  min-width: 100%;
  max-height: @footer-height;
  position: fixed;
  bottom: 0;

  background: @core-secondary-color;
  color: darken(@core-secondary-color, 20%);

  font-size: @body-font-size - 0.2rem;

  padding: @layout-padding/4 @layout-gutter;

  justify-content: space-between;

  .brand {
    svg {
      height: 100%;
    }
    .outline {
      fill: darken(@core-secondary-color, 30%);
    }
  }

  .social {
    .list-inline;
  }
}